body {
	max-width: 900px;
	color: #000000;
	font-family: Arial;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0 auto 0 auto;
	text-align: left;
}

@font-face {
	font-family: UnitedSansRgBd;
	src: url('UnitedSansRgBd.otf');
}

#menu {
	background-image: url(images/menu.png);
	background-repeat: no-repeat;
	height: 75px;

	font-family: UnitedSansRgBd;
	text-transform: uppercase;
}

#content {
	width: auto;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left: auto;

}

#menu li {
	list-style: none;
	padding: 0px;
	display: inline;
}

#menu a {
	float: left;
	width: 140px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 22px;
	font-size: 19px;
}

#menu a:hover {
	color: #000000;
}

a:link {
	color: #3FD0A9;
	text-decoration: none;
}

a:visited {
	color: #3FD0A9;
	text-decoration: none;
}

p {
	text-align: left;
    margin-top: 0em;
    margin-bottom: 1em;
}

h2 {
	text-transform: uppercase;
	font-family: UnitedSansRgBd;
}

h3 {
	font-family: UnitedSansRgBd;
}

#splash {
	position: center center;

	min-width: 90%;
}